<div class="container mat-elevation-z8" *ngIf="showForm">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" id="form1">
    <mat-form-field class="name" appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" />
    </mat-form-field>
    <mat-form-field class="lastName" appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" />
    </mat-form-field>
    <div>
      <mat-form-field class="id" appearance="outline">
        <mat-label>ID Number</mat-label>
        <input matInput formControlName="personalNumber" />
      </mat-form-field>
      <mat-form-field class="date" appearance="outline">
        <mat-label>Choose your birth date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="dateOfBirth"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle [for]="picker" matSuffix>
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="category" appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select formControlName="categoryId">
          <mat-option
            *ngFor="let category of categories"
            [value]="category.id"
            >{{ category.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="status" appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select formControlName="statusId">
          <mat-option *ngFor="let status of status" [value]="status.id">{{
            status.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="email" appearance="outline">
        <mat-label>E-mail address</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
    </div>

    <button type="submit" mat-flat-button color="primary">Submit</button>
  </form>
</div>
